$color-blue: #4078c0;
$color-green: #6cc644;
$color-orange: #f17f49;
$color-red: #bd2c00;

// Layouts
$color-background: #f7f7f7;
$color-border: #eee;
$color-darkBorder: #ddd;

// Text
$color-text: #767676;
$color-secondary: #ccc;
$color-titleText: #333;

// Graphs
$color-tickText: #aaa;
$color-greenArea: #1db34f;
